# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# -----------------
# 외부 호스팅 에셋 제외
# -----------------
# public/assets/images/ (이 부분을 주석 처리하여 에셋 포함)
assets_upload_*.zip
optimized/
raw_assets/
